<section class="error-message u-center-screen">
  <div class="error-message__content u-flex u-f-direction-column">
    <h1 class="error-message__code">{{code}}</h1>
    <p class="error-message__text">{{message}}</p>
    
    {{> button  text="Return To Chats" type ='button' modifier="secondary" data-route="./messenger.html"}}
  </div>
</section>
