.info-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(255,255,255,0.2);
  padding: var(--space-sm) var(--space-lg);
  width: 100%;
  margin-top: var(--space-lg);
}

.info-field__label {
  font-weight: 600;
  color: #fff;
}

.info-field__value {
  color: rgba(255,255,255,0.85);
  font-weight: 400;
}

.info-field__input {
  background: transparent;
  border: none;
  border-bottom: 1px solid var(--color-txt-secondary);
  color:var(--color-txt-primary);
  text-align: right;
  width: 160px;
  outline: none;
}

.info-field--editable:hover .info-field__value {
  opacity: 0.7;
  cursor: pointer;
}
