<main class="profile-page u-flex u-f-direction-column">
    <div class="profile-page_header"></div>
    
  <section class="profile-page__wrapper u-flex u-f-direction-column ">
    <div class="profile-page__card">
      <div class="profile-page__header">
        {{> profile-card
          avatarSrc=avatarSrc
          name=firstName
          lastName=lastName
        }}
      </div>

      <form class="profile-page__form" name="profile">
        {{#each fields}}
          <div class="profile-page__field">
            {{> info-field
              label=label
              type=type
              name=name
              value=value
              isEditable=isEditable
            }}
          </div>
        {{/each}}

        <div class="profile-page__actions u-text-center">
         <p class="profile-page__hint u-text-center">
           <a href="http://localhost:3000/error404.html">Change profile settings</a>
         </p>
          <p class="profile-page__hint u-text-center">
            <a href="http://localhost:3000/error404.html">Change password</a>
         </p>
         <p class="profile-page__hint u-text-center">
            <a href="http://localhost:3000/login.html">Logout</a>
         </p>
        </div>
      </form>
    </div>
  </section>
</main>
