/*Layout utilities*/

.u-flex {
  display: flex;
}
.u-f-direction-column{
    flex-direction: column;
}
.u-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.u-inline-flex-center {
  display: inline-flex;
  align-items: center;
  justify-content: center;}

.u-flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.u-flex-start {
  display: flex;
  justify-content: center;
  align-items: start;
}
.u-flex-end {
  display: flex;
  justify-content: end;
  align-items: center;
}


.u-grid {
  display: grid;
}

.u-grid-center {
  display: grid;
  place-items: center;
}
.u-text-center{
     text-align: center;
}
.u-center-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh; 
}
