<section class="messenger u-flex">
  <aside class="messenger__sidebar">
    <div class="chats"></div>
  </aside>

  <div class="messenger__content">
    {{> chat-header }}

    <div class="messenger__messages">
      <div class="messages"></div>
    </div>

    <footer class="messenger__footer">
      {{> message-form }}
    </footer>
  </div>
</section>
