.button-action{
height: 46px;
width: 100%;
padding:var(--space-sm) var(--space-md) ;
gap: var(--space-sm);
font-size: var(--font-size-l);
color: var( --color-text-primary);
background-color: var(--color-bg-page);
}
