.user-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.user-card__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #d9d9d9;
  overflow: hidden;

}

.user-card__avatar-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.user-card__avatar--empty {
  background-color: #ccc;
}

.user-card__name {
  margin-top: 8px;
  color: #fff;
  font-weight: 600;
}
